.conformis-plugin__wrapper {
    position: fixed;
    background: inherit;
    z-index: 99999;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

    &.position-top {
        top: 0;
        left: 0;
        box-shadow: 0 3px 9px 0 #999999;

        &.closed {
            transform: translateY(-100%);
            box-shadow: none;
        }
    }

    &.position-center {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);

        &.closed {
            display: none;
        }
    }

    &.position-bottom {
        left: 0;
        bottom: 0;
        box-shadow: 0 -3px 9px 0 #999999;

        &.closed {
            transform: translateY(100%);
            box-shadow: none;
        }
    }
}

.conformis-plugin__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    background: inherit;

    .position-top & {
        width: 100vw;
    }

    .position-center & {
        min-width: 40vw;
        max-width: 75vw;
        margin: 0 auto;
        background: white;
    }

    .position-bottom & {
        width: 100vw;
    }
}

.conformis-plugin__message {
    flex: 1 1 auto;
    margin-right: 8px;
    box-sizing: border-box;

    // Resetting style for p elements (always added by the richtext editor)
    p {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
    }
}

.conformis-plugin__btn--confirm {
    flex: 0 0 auto;
    margin-left: 8px;
    box-sizing: border-box;
}